body{
    margin:0;
    padding: 0;
    scrollbar-width: thin;
    font-family: "Segoe UI Semilitght","Segoe UI",Tahoma,Helvetica, Sans-Serif;
}

body::-webkit-scrollbar {
    width: 15px; 
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #A9A9A9; 
}


/*start of the header*/

header{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background-color: #000000; 
    z-index: 1000;
}

.logo img{
    position: relative;
    height: 80px;
    margin-left: 40px;
    margin-top: 0px;
    width: 250px;
}
.logo img:hover{
    opacity: 0.5;
}


.topMenu{
    position: relative;
    width: 66%;
    display: flex;
    justify-content: center;
    background-color: #000000;
    margin-left: 100px;
}

.topMenu ul li{
    float: left;
    height: 80px;
    width: 220px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-color: #fff;
    margin-top: 2px;
}

.topMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.topMenu ul li a{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0;
    font-weight: 100;
    border-color: #000000;
    color: #ffffff;
    text-decoration: none;
    line-height: 20px;
    font-size: 25px;
    padding: 27px 20px 20px 20px;
    line-height: auto;

}
.topMenu ul li:hover{
    border-color: #FFFD00;

}
.topMenu ul li:hover >ul{
    display: initial;

}
.topMenu ul li a:hover{
    color: #FFFD00;

}
.topMenu ul li ul{
    position: absolute;
    width:220px;
    top: 82px;
    background-color: black;
    padding: 0px;
    display: none;
}
.topMenu ul li ul li a{
    padding: 12px 20px 20px 20px;
    font-size: 25px;
}
.topMenu ul li ul li{
    width: 100%;
}
.topMenu ul li ul li ul{
    left: 220px;
    top: 0px;
}
.topMenu .WhereYou{
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: #FFFD00;
}

.socialIcons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    margin-left: 50px;
    width: 120px;
    height: 80px;
}

.socialIcons .icon_instagram{
    background: url(../img/Instagram.png) 0 center no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 3px;
}

.socialIcons .icon_facebook{
    background: url(../img/facebook.png) 0 center no-repeat;
    width: 30px;
    height: 30px;
    margin-right: 3px;
}


@media screen and (max-width: 1686px){
    .socialIcons{
    margin-left: 40px;
}
    .logo img{
    height: 75px;
    margin-left: 30px;
    margin-top: 5px;
    width: 200px;
}
    .topMenu ul li ul{
        width:200px;
    }
    .topMenu ul li ul li ul{
        left: 200px;
        top: 0px;
    }
    .topMenu ul li {
    width: 200px;
}
}
@media screen and (max-width: 1536px){
    .topMenu ul li {
    width: 170px;
}
    .topMenu ul li a{
    padding: 23px 20px 20px 20px;
    font-size: 24px;   
    }
    .topMenu ul li ul{
    width:170px;
}
    .topMenu ul li ul li ul{
        left: 170px;
        top: 0px;
    }
    .topMenu{
    margin-left: 70px;
}
    .socialIcons{
        margin-left: 30px;
    }

}
@media screen and (max-width: 1320px){
    .topMenu ul li {
    width: 150px;
}
    .topMenu ul li a{
    padding: 22px 20px 20px 20px;
    font-size: 22px;  
    }
    .topMenu ul li ul{
        width:150px;
    }
    .topMenu ul li ul li ul{
        left: 150px;
        top: 0px;
    }
    .topMenu{
    margin-left: 50px;
}

}
@media screen and (max-width: 1200px){
    .topMenu ul li {
    width: 130px;
}
    .topMenu ul li a{
    padding: 17px 20px 20px 20px;
    font-size: 21px;  
    }
    .topMenu ul li ul{
        width:130px;
    }
    .topMenu ul li ul li ul{
        left: 130px;
        top: 0px;
    }
    .topMenu ul li ul li a{
    font-size: 18px;
    }  
    .topMenu{
    margin-left: 20px;
}

}
@media screen and (max-width: 1150px){
    .topMenu ul li {
    width: 130px;
}
    .topMenu ul li a{
    padding: 15px 20px 20px 20px;
    font-size: 21px;  
    }
    .topMenu ul li ul{
        width:130px;
    }
    .topMenu ul li ul li ul{
        left: 130px;
        top: 0px;
    }
    .topMenu{
    margin-left: 20px;
}
}
@media screen and (max-width: 1056px){
    header{
    height: 80px;
}
    .logo img{
        height: 70px;
        margin-left: 15px;
        margin-top: 5px;
        width: 170px;
    }
    .topMenu ul li {
    width: 120px;
    height: 70px;
}
    .topMenu ul li a{
    padding: 11px 20px 20px 20px;
    font-size: 19px;  
    }
    .topMenu ul li ul{
        width:120px;
        top: 69px;
    }
    .topMenu ul li ul li ul{
        left: 120px;
    }
    .topMenu ul li ul li a{
    font-size: 15px;
    padding: 5px 20px 20px 20px;
    }   
    .topMenu{
    margin-left: 0px;
}
    .socialIcons{
        margin-left: 0px;
    }

}
@media screen and (max-width: 926px){
    header{
    height: 75px;
}
    .logo img{
        height: 65px;
        margin-left: 15px;
        margin-top: 5px;
        width: 170px;
    }
    .topMenu ul li {
    width: 100px;
    height: 65px;
}
    .topMenu ul li a{
    padding: 11px 20px 20px 20px;
    font-size: 17px;  
    }
    .topMenu ul li ul{
        width:100px;
    }
    .topMenu ul li ul li ul{
        left: 100px;
        top: 0px;
    }
    .socialIcons{
        margin-left: 0px;
    }

}
@media screen and (max-width: 810px){
    header{
    height: 75px;
}
    .logo img{
        height: 65px;
        margin-left: 15px;
        margin-top: 5px;
        width: 150px;
    }
    .topMenu ul li {
    width: 90px;
    height: 65px;
}
    .topMenu ul li a{
    padding: 5px 20px 20px 20px;
    font-size: 15px;  
    }
    .topMenu ul li ul{
        width:90px;
    }
    .topMenu ul li ul li ul{
        left: 90px;
        top: 0px;
    }

}
@media screen and (max-width: 742px){
    header{
    height: 75px;
}
    .logo img{
        height: 65px;
        margin-left: 10px;
        margin-top: 5px;
        width: 130px;
    }
    .topMenu ul li {
    width: 85px;
    height: 65px;
}
    .topMenu ul li a{
    padding: 5px 20px 20px 20px;
    font-size: 15px;  
    }
    .topMenu ul li ul{
        width:85px;
    }
    .topMenu ul li ul li ul{
        left: 85px;
        top: 0px;
    }
    .socialIcons{
    width: 80px;
    height: 70px;
 }   
    .socialIcons .icon_instagram{
    width: 25px;
    height: 25px;
    margin-right: 3px;
}
    .socialIcons .icon_facebook{
        width: 25px;
        height: 25px;
        margin-right: 3px;
    }
}

@media screen and (max-width: 670px){
    header{
    height: 65px;
}
    .logo img{
        height: 60px;
        margin-left: 8px;
        margin-top: 5px;
        width: 120px;
    }
    .topMenu ul li {
    width: 80px;
    height: 55px;
    top: 0px;
}
    .topMenu ul li a{
    padding: 0px 20px 20px 20px;
    font-size: 15px;  
    }
    .topMenu ul li ul{
        width:80px;
        top: 57px;
    }
    .topMenu ul li ul li ul{
        left: 80px;
        top: 0px;
    }
    .topMenu ul li ul li a{
    font-size: 11px;
    line-height: 1;
    }  

}
@media screen and (max-width: 624px){
    header{
    height: 60px;
}
    .logo img{
        height: 55px;
        margin-left: 5px;
        margin-top: 5px;
        width: 110px;
    }
    .topMenu ul li {
    width: 75px;
    height: 50px;
    top: 0px;
}
    .topMenu ul li a{
    padding: 0px 20px 20px 20px;
    font-size: 14px;  
    }
    .topMenu ul li ul{
        width: 75px;
        top: 54px;
    }
    .topMenu ul li ul li ul{
        left: 75px;
        top: 0px;
    }
    .topMenu ul li ul li a{
    font-size: 11px;
    line-height: 1;
    }  

}
@media screen and (max-width: 588px){
    header{
    height: 58px;
}
    .logo img{
        height: 53px;
        margin-left: 5px;
        margin-top: 5px;
        width: 110px;
    }
    .topMenu ul li {
    width: 70px;
    height: 48px;
    top: 0px;
}
    .topMenu ul li a{
    padding: 0px 20px 20px 20px;
    font-size: 14px;  
    }
    .topMenu ul li ul{
        width: 70px;
        top: 52px;
    }
    .topMenu ul li ul li ul{
        left: 70px;
        top: 0px;
    }
    .topMenu ul li ul li a{
    font-size: 11px;
    line-height: 1;
    }  

}
@media screen and (max-width: 558px){
    header{
    height: 56px;
}
    .logo img{
        height: 51px;
        margin-left: 5px;
        margin-top: 5px;
        width: 110px;
    }
    .topMenu ul li {
    width: 65px;
    height: 46px;
    top: 0px;
}
    .topMenu ul li a{
    padding: 0px 20px 20px 20px;
    font-size: 14px;  
    }
    .topMenu ul li ul{
        width: 65px;
        top: 50px;
    }
    .topMenu ul li ul li ul{
        left: 65px;
        top: 0px;
    }
    .topMenu ul li ul li a{
    font-size: 11px;
    line-height: 1;
    }  

}

/*end of the header*/


/*start of the content*/

/*mainContainer start*/
.content{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    background-color: #FEFFF9;
}
.MainContainer{
    position: relative;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%; 
    overflow: auto; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    text-align: center;

}
.MainContainer h2{
    font-size: 40px;
}
.MainContainer h3{
    font-size: 20px;
}

#container_0 { 
    display: flex;
    width: 70%; 
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center; 
    padding: 20px;
    flex-direction: column;
}

p {
    font-family: "Segoe UI Semilitght","Segoe UI",Tahoma,Helvetica, Sans-Serif;
    font-size: 18px;
}

h2{
    font-family: "Segoe UI Semilitght","Segoe UI",Tahoma,Helvetica, Sans-Serif;
    font-size: 28px;
}

/*end of the Container_services*/
.Under_table {
    display: flex;
    background-color: #ffffff;
    color: #000;
    text-align: center;
    height: 350px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%; 
}
table{
  table-layout: fixed;
  width: 50%;
  border-collapse: separate;
  border: 3px solid #000;
}

.Under_table th, td {
    background-color: #FFF9DC;         
    text-align: left;
    padding: 8px;
    border: 1px solid #000;
    white-space: wrap;
    border-collapse: separate;
    font-size: 20px;

}
.Under_table a {
    color: #0D00FF;
    text-decoration: none;

}

@media screen and (max-width: 1700px){
    .Under_table th, td {
        border-collapse: collapse;
        font-size: 18px;

    }

}
@media screen and (max-width: 1556px){
    .Under_table th, td {
        border-collapse: collapse;
        font-size: 16px;

    }
    .Under_table {
        height: 320px;

    }
    table{
        width: 60%;
}

}
@media screen and (max-width: 1386px){
    .Under_table th, td {
        border-collapse: collapse;
        font-size: 14px;
        padding: 7px;

    }
    .Under_table {
        height: 300px;

    }
    table{
        width: 60%;
}
.MainContainer{
    margin-top: 90px;
}
h2{
    font-size: 36px;
    margin-top: 5px;
}
h3{
    font-size: 17px;
    margin-top: 5px;
}
 .MainContainer h2{
    font-size: 36px;

}
.MainContainer h3{
    font-size: 17px;
    margin-bottom: 0;
}

}
@media screen and (max-width: 1228px){
    .Under_table th, td {
        border-collapse: collapse;
        font-size: 12px;

    }
    .Under_table {
        height: 280px;

    }
    table{
        width: 70%;
}
.MainContainer{
    margin-top: 80px;
}
h2{
    font-size: 34px;
     margin: 0;
}
h3{
    font-size: 15px;
}
 .MainContainer h2{
    font-size: 34px;

}
.MainContainer h3{
    font-size: 15px;
    margin-bottom: 0;
}
}
@media screen and (max-width: 1056px){
    .Under_table th, td {
        border-collapse: collapse;
        font-size: 11px;
        padding: 6px;

    }
    table{
        width: 70%;
}
.Under_table {
        height: 260px;

    }
.MainContainer{
    margin-top: 60px;
}
h2{
    font-size: 29px;

}
h3{
    font-size: 14px;
    margin-bottom: 0;
}
 .MainContainer h2{
    font-size: 29px;

}
.MainContainer h3{
    font-size: 14px;
    margin-bottom: 0;
}

}
@media screen and (max-width: 810px){
    .Under_table th, td {
        border-collapse: collapse;
        font-size: 10px;
        padding: 5px;

    }
    table{
        width: 80%;
}
.Under_table {
        height: 240px;

    }
.MainContainer{
    margin-top: 60px;}
h2{
    font-size: 25px;

}
h3{
    font-size: 12px;
    margin-bottom: 0;
}
 .MainContainer h2{
    font-size: 25px;

}
.MainContainer h3{
    font-size: 12px;
    margin-bottom: 0;
}

}
@media screen and (max-width: 738px){
    .Under_table th, td {
        border-collapse: collapse;
        font-size: 9px;
        padding: 5px;

    }
    table{
        width: 80%;
}
.Under_table {
        height: 220px;

    }
    .MainContainer{
    margin-top: 50px;
}
h2{
    font-size: 22px;

}
h3{
    font-size: 11px;
    margin-bottom: 0;
}
 .MainContainer h2{
    font-size: 22px;

}
.MainContainer h3{
    font-size: 11px;
    margin-bottom: 0;
}


}
@media screen and (max-width: 600px){
    .Under_table th, td {
        border-collapse: collapse;
        font-size: 9px;
        padding: 5px;

    }
    table{
        width: 90%;
}
.Under_table {
        height: 200px;

    }
    .MainContainer{
    margin-top: 40px;
}
.MainContainer h2{
    font-size: 15px;

}
.MainContainer h3{
    font-size: 11px;
    margin-bottom: 0;
}


}
@media screen and (max-width: 558px){
    .Under_table th, td {
        border-collapse: collapse;
        font-size: 9px;
        padding: 5px;

    }
    table{
        width: 97%;
}
.Under_table {
        height: 200px;

    }
.MainContainer{
    margin-top: 40px;
}
h2{
    font-size: 16px;

}
h3{
    font-size: 10px;
    margin-bottom: 0;
}
 .MainContainer h2{
    font-size: 16px;

}
.MainContainer h3{
    font-size: 10px;
    margin-bottom: 0;
}

}

/*end of of the content*/

/*start of the footer*/
.footer {
    display: flex;
    background-color: #000000;
    color: #fff;
    text-align: center;
    height: 300px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%; 
}
#footer_container_1, #footer_container_2, #footer_container_3{ 
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center; 
    float: right;
    width: 650px;
}
#footer_box_1,#footer_box_3 p{
    margin: 0px;
    text-align: left;

}
#footer_box_3 a{
    color: #FFFA0E;
    text-decoration: none;

}
#footer_box_2 p{
    margin: 0px;
    text-align: left;

}
#footer_container_4{
    padding: 0 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center; 
    float: right;
    width: 100%;
    display: flex;
    background-color: #000000;
    color: #fff;
}
@media screen and (max-width: 1090px){
.footer{
    display: flex;
    background-color: #000000;
    color: #fff;
    text-align: center;
    height: 550px;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}
#footer_container_1, #footer_container_2, #footer_container_3{ 
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center; 
    float: right;
    width: 70%;
}
#footer_box_1,#footer_box_2,#footer_box_3{
    width: 400px;

}
p { 
    font-size: 16px;
}
}
@media screen and (max-width: 820px){
    .footer{
    height: 500px;
}
#f
p { 
    font-size: 15px;
}
}
@media screen and (max-width: 750px){
    .footer{
    height: 450px;
}
p { 
    font-size: 13px;
}
}
@media screen and (max-width: 750px){
    .footer{
    height: 400px;
}
p { 
    font-size: 11px;
}
}

/*end of the footer*/


